
                            <!--AFTER RESPONSE-->

                            <div class="col-md-10" id="createRawResponseForm" style="display: none;">

                                <div ng-hide="simpleView">
                                <div class="input string optional">
                                    <label class="string optional" for="sourceScript">Source script</label>
                                    <textarea readonly="readonly" class="form-control textareaScroll" rows="3" id="sourceScript"></textarea>

                                </div>
                                <div class="input string optional">
                                    <label class="string optional" for="transactionBBE">Transaction</label>
                                    <textarea readonly="readonly" class="form-control textareaScroll" rows="6" id="transactionBBE"></textarea>

                                    <div id="rawJsonRadio" class="btn-group" data-toggle="buttons">
                                        <label id="RawRadioBtn" class="btn btn-primary active">
                                            <input type="radio" name="options">
                                            Raw
                                        </label>
                                        <label id="JsonRadioBtn" class="btn btn-primary">
                                            <input type="radio" name="options">
                                            Json
                                        </label>
                                    </div>

                                </div>
                                </div>
                                <div ng-show="simpleView" class="alert alert-success">
                                    <i class="glyphicon glyphicon-ok"></i> Everything went well
                                </div>

                                <div class="input string optional">
                                    <label class="string optional" for="privateKey">Private key</label>
                                    <div ng-show="isPKInLocalStorage" class="input-group">
                                        <span class="input-group-btn">
                                            <button data-toggle="modal" data-target="#unlockWallet" class="btn btn-success" popover data-trigger="hover" data-html="true" data-container="body" data-content="Load Private Key from Wallet" data-placement="right"><img src="img/loadFromWallet.png" alt="Load from wallet" /></button>
                                        </span>
                                        <input class="string optional form-control" id="privateKey" ng-show="showpassword" ng-model="key"  type="text">
                                        <input class="string optional form-control" id="privateKey" ng-hide="showpassword" ng-model="key"  type="password">

                                    </div>
                                    <input ng-hide="isPKInLocalStorage || !showpassword" class="string optional form-control" id="privateKey" ng-model="key" ng-change="keyChange()" type="text">
                                    <input ng-hide="isPKInLocalStorage || showpassword" class="string optional form-control" id="privateKey" ng-model="key" ng-change="keyChange()" type="password">
                                    <input type="checkbox" ng-model="showpassword" ng-checked="false"> Show characters
                                    <span class="invalidKey label label-danger">Invalid key</span>
                                </div>

<div class="modal fade" id="unlockWallet" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Enter password of Wallet</h4>
      </div>
      <div class="modal-body">

        <form name="unlockWallet">
            <div class="alert alert-danger alert-dismissable" ng-show="unlockWalletErrorShow">
              The <strong>password</strong> is not correct
            </div>
            <input placeholder="Password" class="form-control" ng-model="walletPasswordEnter" ng-pattern="/^[a-zA-Z0-9!@#$%^&*()_+\-=\[\]{};:\\|,.<>\/?]*$/" type="password" name="walletPasswordEnter" ng-minlength="8" required/>
            <div class="label label-danger" ng-show="unlockWallet.walletPasswordEnter.$error.required && unlockWallet.walletPasswordEnter.$dirty">Password is required</div>
   <div class="label label-danger" ng-show="!unlockWallet.walletPasswordEnter.$error.required && (unlockWallet.walletPasswordEnter.$error.minlength || unlockWallet.walletPasswordEnter.$error.maxlength) && unlockWallet.walletPasswordEnter.$dirty">Password is not secure enough (the length is less than 6 characters).</div>
   <div class="label label-danger" ng-show="!unlockWallet.walletPasswordEnter.$error.required && !unlockWallet.walletPasswordEnter.$error.minlength && !unlockWallet.walletPasswordEnter.$error.maxlength && unlockWallet.walletPasswordEnter.$error.pattern && unlockWallet.walletPasswordEnter.$dirty">Password contains illegal characters, must have letters, numbers and !@#$%^&*()_+-=[]{};:\|,.<>/?</div>
   </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-disabled='unlockWallet.$invalid' ng-click="validateWalletPassword()" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>

                                <br />
                                <div>
                                    <button class="btn btn-primary btnMargin"
                                        id="reSign" ng-click="reSign()" ng-disabled="!key.length">
                                        (re)Sign
                                    </button>
                                    <a ng-hide="simpleView" popover data-trigger="hover" data-html="true" data-content="Sign the transaction offline (advanced security feature.)" data-placement="right" class="btn btn-info btnMargin" href="offlinesign.html" target="_blank">
                                    <i class="glyphicon glyphicon-log-in"></i> Sign offline
                                    </a>
                                    <img id="reSignLoader" src="img/ajax_loader.gif" class="loader" />
                                </div>

                            </div>

