							<div class="col-md-10" id="reSignClickedForm" style="display: none;">
                                <div ng-hide="simpleView">
                                <div class="input string optional">
                                    <label class="string optional" for="signedTransactionBBE">Transaction</label>
                                    <textarea class="form-control textareaScroll" rows="6" id="signedTransactionBBE"></textarea>
									<span class="invalidTransaction redText">Invalid transaction</span>

									<div id="rawJsonRadioSigned" class="btn-group" data-toggle="buttons">
										<label id="RawRadioBtnSigned" class="btn btn-primary active">
											<input type="radio" name="options">
											Raw
										</label>
										<label id="JsonRadioBtnSigned" class="btn btn-primary ">
											<input type="radio" name="options">
											Json
										</label>
                                    </div>
                                </div>
                                </div>
                                
                                <div ng-show="simpleView" class="alert alert-success">
                                    <i class="glyphicon glyphicon-ok"></i> All is prepared to Send
                                </div>
                                
                                <div>
                                    <button class="btn btn-primary btnMargin"
                                        id="send" ng-click="send()">
                                        Send
                                    </button>
                                    <p id="sendMessage"  class="verifySendStatus"></p>
                                    <img id="sendLoader"
                                        src="img/ajax_loader.gif"
                                        class="loader" />
                                </div>
								<div id="sendHyperlink">
								    Check transaction: <a id="sendLink" href="#">Hyperlink</a>
                                </div>
                               <p></p>
                                <p></p>

                            </div>