<!doctype html>

<!--
    Copyright Masterchain Grazcoin Grimentz 2013-2014
    https://github.com/masterchain/masterchain-world
    https://masterchain.info
    masterchain@@bitmessage.ch
    https://masterchain.info/LICENSE.txt
-->

<html ng-app="myApp">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
      <meta name="google" value="notranslate" />
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="shortcut icon" href="ico/favicon.png">
      <title>
         Send Coins
      </title>
      <noscript>
         Java Script has been disabled!
         <meta http-equiv="refresh" content="0;url=javascript_required.html">
      </noscript>
      <!-- Bootstrap core CSS -->
      <link href="css/bootstrap.css" rel="stylesheet">
      <link href="css/bootstrap-theme.css" rel="stylesheet">
      <link href="css/bootstrap-combobox.css" rel="stylesheet">
      <link href="css/search.css" rel="stylesheet">
      <link href="css/sendform.css" rel="stylesheet">
      <link href="css/acceptform.css" rel="stylesheet">
      <script src="js/jquery-1.10.1.min.js"></script>
      <script src="js/angular.js"></script>
      <script src="btcutils.js"></script>
      <script src="js/truncate.js"></script>
      <script src="masterPage.js"></script>
      <script src="btc02.js"></script>
      <script src="js/bootstrap-combobox.js"></script>
      <script>
         var myApp = angular.module('myApp', ['truncate']);
      </script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/base_directives.js"></script>
      <script src="wallet.js"></script>
      <script src="sendform.js"></script>
      <script src="masterEvents.js"></script>
      <script src="js/jquery.tabSlideOut.v1.3.js"></script>
      <script src="js/BTCClientContext.js"></script>
      <script src="js/CryptoJS/components/core-min.js"></script>
	  <script src="js/CryptoJS/components/enc-utf16-min.js"></script>
	  <script src="js/CryptoJS/components/enc-base64-min.js"></script>
      <!--BITCOIN-->
      <script type="text/javascript" src="js/BitcoinJS/crypto-js/crypto.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/crypto-js/sha256.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/crypto-js/ripemd160.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/jsbn/prng4.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/jsbn/rng.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/jsbn/jsbn.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/jsbn/jsbn2.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/jsbn/ec.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/jsbn/sec.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/events/eventemitter.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/bitcoin.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/util.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/base58.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/address.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/ecdsa.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/eckey.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/opcode.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/script.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/transaction.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/wallet.js"></script>
      <script type="text/javascript" src="js/BitcoinJS/txdb.js"></script>
      <script type="text/javascript" src="js/jquery.json-2.4.js"></script>

      <script src="js/CryptoJS/rollups/sha256.js"></script>
      <script src="js/CryptoJS/rollups/pbkdf2.js"></script>
      <script src="js/CryptoJS/rollups/aes.js"></script>
      <script src="wallet.js"></script>
      <!--END BITCOIN-->
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <div id="wrap">
         <div ng-controller="NavigationController" ng-init="getNavData()">
            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-fixed-top">
               <div class="container">
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" href="/"><img src="img/logo.png" alt="mastercoin"></a>
                  </div>
                  <div class="navbar-collapse collapse">
                     <ul class="nav navbar-nav navbar-right">
                        <li class="c-visible-xs"><a href="wallet.html">Wallet</a></li>
                        <li><a href="index.html?currency={{currency}}">Recent</a></li>
                        <li><a href="index.html?filter=sell&currency={{currency}}">Orderbook</a></li>
                        <li><a href="About.html">Info</a></li>
                        <li>
                           <a class="searchLI">
                              <div id="searchContainer" class="search">
                                 <select class="select optional combobox customDropdown"
                                    id="searchText" name="searchText">
                                 </select>
                              </div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="container page-container">
                <div class="row">
                    <div class="no-fixed col-sm-9 col-sm-push-3 col-md-10 col-md-push-2">
                        <div class="AcceptOfferController" ng-controller="AcceptOfferController" ng-init="getSellofferData()">


                            <div class="col-lg-7 col-md-9">
                            	<a popover data-trigger="hover" data-html="true" data-content="Switch to advanced view" data-placement="left" ng-show="simpleView" ng-click="simpleView=0" class="pull-right btn btn-sm">to Advanced View</a>
                            	<a popover data-trigger="hover" data-html="true" data-content="Switch to simple view" data-placement="left" ng-hide="simpleView" ng-click="simpleView=1" class="pull-right btn btn-sm">to Simple View</a>
                                <h2>Send coins</h2>
								
                                <div class="input string optional" id="fromAddressOrPublicKeyDiv">

                                    <label class="string optional" for="publicKey">Sender address or public key</label>
									<set-address ></set-address>
                                </div>


                                <div class="input string optional">

                                    <label class="string optional" for="amount">Amount</label>
                                    <input class="string optional form-control" id="amount"
                                        ng-model="amount"
                                        ng-change="AmountChanged()"
                                        step="{{step}}"
                                        type="number">

                                </div>

                                <div class="input string optional">
									<label class="string optional" for="fee">Fee (BTC)</label>
									<input class="string optional form-control" id="fee"
										ng-model="fee"
										step="0.0001"
										type="number">
                                </div>

                                <div class="input string optional">
                                    <label class="string optional" for="recipient">To</label>
                                    <input class="string optional form-control" ng-readonly="toAddrReadOnly" id="recipient"
                                        ng-model="toAddress"
                                        type="text">
                                </div>

                                <div class="input string optional">
                                    <label class="string optional" for="currency">Currency</label>
                                    <input class="string optional form-control" readonly="readonly" id="currency"
                                        ng-model="currency"
                                        type="text">
                                </div>

                                <div style="display:block;">
                                    <button class="btn btn-primary btnMargin"
                                        id="createRawTransaction">
                                        Prepare
                                    </button>

                                    <img id="createRawTransactionLoader"
                                        src="img/ajax_loader.gif" class="loader" />
                                    <p id="statusMessage"  class="">
                                    </p>
                                </div>

                            </div>


							<after-response></after-response>

                            <send-part></send-part>

                     </div>
                  </div>
                  <div class="left_bar jumbotron col-sm-3 col-sm-pull-9 col-md-2 col-md-pull-10">
                     <nav>
                        <div class="navItems col-xs-6 col-sm-12 no-padding" ng-repeat="val in values">
                           <a href="{{val.newUrl}}" class="panel-link">
                              <div class="panel panel-default {{val.selected}}">
                                 <div class="panel-heading">
                                    <img ng-src="img/{{val.trend}}Icon.png"/> {{val.name}}
                                 </div>
                                 <div class="panel-body" ng-style="{'background': val.trend2}">
                                    <div class="col-xs-3 no-padding">{{val.currency}}</div>
                                    <div class="col-xs-9">{{val.name2}}</div>
                                 </div>
                              </div>
                           </a>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
            <!-- /container -->
         </div>
         <div id="push"></div>
      </div>
      <div id="footer" ng-controller="RevisionController" ng-init="getData()">
         <div class="container c-footer-container">
            <div class="revision">Updated: {{revision.last_parsed}} rev <a href='{{revision.url}}'>{{revision.commit_hexsha|characters:6}}</a> ({{revision.commit_time}})</div>
            <div class="muted credit">&copy; <a href="https://masterchain.info">Masterchain</a> Grazcoin Grimentz 2013-2014.</div>
         </div>
      </div>
	  <private-key-error></private-key-error>
   </body>
</html>

